@model IEnumerable<PI_Models.InventoryItem>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>

        @foreach(var i in Model)
        {            
            <div>@i.sgtin</div>
        }
    
    </div>
</body>
</html>
